# Configuración SMTP
SMTP_HOST=smtp.tudominio.com
SMTP_USERNAME=api@tudominio.com
SMTP_PASSWORD=tu-contraseña-segura
SMTP_PORT=587

# Configuración de la API
API_KEY=tu-clave-secreta

# Entorno de la aplicación
APP_ENV=prod  # Cambia a "dev" para modo desarrollo

# Origenes Cors permitidos
CORS_ALLOWED_ORIGINS=http://localhost/